.modal {
    display: none; /* 기본적으로 숨김 */
    position: fixed;
    z-index: 2; /* 모달이 위에 오도록 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* 반투명 배경 */
}

/* 모달 내용 */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 타이머 스타일 */
#timerDisplay {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

/* 이미지 컨테이너 스타일 */
#otpImageContainer {
    text-align: center;
    margin: 20px 0;
}

#otpImage {
    width: 100px; /* 이미지 크기 설정 */
    height: auto;
}